ListViewScrolling/ListViewScrolling.Droid/bin/
ListViewScrolling/ListViewScrolling.Droid/obj/
ListViewScrolling/ListViewScrolling.iOS/obj/
ListViewScrolling/ListViewScrolling/bin/
ListViewScrolling/ListViewScrolling/obj/
